.container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    padding: 80px 0;
}
.background {
    background: no-repeat center center;
    height: 407px;
    width: 240px;
}

.card a {
    color: white;
}

.icon {
    padding: 40px 0 0 40px;
}

.content {
    color: white;
    padding: 10px 40px;
}
